
@font-face {
  font-family: Satoshi;
  src: url(/Fonts/crossten-webfont/CrosstenMedium.woff);
}

  * {
    font-family: Satoshi;
    margin: 0;
    padding: 0;
    color: rgb(172, 174, 177);
  }

  html { 
    background-color: #333D29;
    overflow: auto;
  }

  body {
    max-height: fit-content;
    background: #2e302c;
    background-size: 20px 20px;
    overflow: auto;
  }
  .hidden {
    display: none !important;
  }
  .splash {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: #eae7b5;
    transition: opacity 1s, visibility 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .disappear {
    animation: disappear 2s;
  }
  #splash-text {
    position:absolute;
    left: 42vw;
    top: 35vh;
    transform: rotateX(50deg) rotateY(-10deg) rotateZ(30deg);
    transform-style: preserve-3d;
    font-size: 3.8em;
    color: #988e65;
    text-shadow: 
    1px 1px 0 #504b33,
    2px 2px 0 #504b33,
    3px 3px 0 #504b33,
    4px 4px 0 #504b33,
    5px 5px 0 #504b33,
    6px 6px 0 #504b33,
    7px 7px 0 #504b33;
  }
  #enter-button {
    position: absolute;
    padding: 25px 30px 25px 30px;
    left: 45vw;
    top: 45vh;
    border: none;
    border-radius: 10%;
    background-color: #96a173;
    color: #314034;
    transform: rotateX(50deg) rotateY(-10deg) rotateZ(30deg);
    transform-style: preserve-3d;
    box-shadow: 
      5px 5px 0.5px rgb(72, 100, 52),
      inset -4px -4px rgb(72, 100, 52);
    cursor: pointer;
    transition: all 0.2s;
  }
  #enter-button:hover {
    box-shadow: 
    0px 0px 0.5px rgb(72, 100, 52),
    inset 0px 0px rgb(72, 100, 52);
    background-color: #b7c48e;
  }

  .myinfocontainer {
    z-index: 2;
    width: 100vw;
    height: 0vh;
    transition: all 0.5s;
    background: hsl(0 0% 6%);
    display: flex;
    justify-content: center;
  }
  .myinfo{
    width: 100%;
    height: 100%;
    background: conic-gradient(from 180deg at 50% 70%,hsla(0,0%,98%,1) 0deg,#eec32d 72.0000010728836deg,#ec4b4b 144.0000021457672deg,#709ab9 216.00000858306885deg,#4dffbf 288.0000042915344deg,hsla(0,0%,98%,1) 1turn);
    --size: 20px;
    mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px 256px;
    mask-composite: intersect;
    animation: flicker 10s infinite linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @keyframes flicker {
    to {
      -webkit-mask-position: 50% 50%, 0 50%;
              mask-position: 50% 50%, 0 50%;
    }
  }

  #myinfop1 {
    font-size: 3em;
    text-align: center;
    position: absolute;
    top: 40%;
    color: white;
    text-shadow: 0 0 5px #fff,
    0 0 20px rgb(223, 223, 223),
    0 0 30px rgb(108, 108, 108),
    0 0 35px rgb(85, 85, 85),
    0 0 40px rgb(64, 65, 64);
  }
  #myinfop2 {
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 50%;
    color: rgb(230, 230, 230);
  }
  #myinfop3 {
    font-size: 1em;
    position: absolute;
    top: 55%;
  }
  .opendoor {
    animation: opendoor 0.5s ease-out;
    animation-fill-mode: forwards;
  }
  .closedoor {
    animation: closedoor 0.4s ease-in;
  }
  @keyframes opendoor {
    0% {height: 0vh;}
    100% {height: 100vh;}
  }
  @keyframes closedoor {
    0% {height: 100vh;}
    100% {height: 0vh;}
  }
  .bulb-button {
    position: absolute;
    width: 55px;
    left: 95%;
    z-index: 2;
    background: none;
    border: none;
    transition: all 0.5s;
    animation: glow infinite 2s ease-in-out;
  }
  @keyframes glow {
    0% {filter: drop-shadow(0 0 0px rgb(255, 255, 127))}
    50% {filter: drop-shadow(0 0 4px rgb(255, 255, 127))}
    100% {filter: drop-shadow(0 0 0px rgb(255, 255, 127))}
  }

  .bulb-button:hover {
    cursor: pointer;
  }

  #side-handles {
    position: absolute;
    margin: -60px;
    width: 250px;
    height: 55px;
    background-color: #62694b;
    border-radius: 10px;
    color: rgb(252, 255, 235);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333D29;
    padding: 5%;
  }
  .grid-container {
    background-color: #62694b;
    padding: 2% 2% 10% 2%;
    border-radius: 20px;
    width: auto;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    z-index: 1;
  }

  .henry-header {
    background-color: rgb(108, 146, 108);
    border-radius: 10px;
    box-shadow: 0 0.3em 0 rgb(109, 69, 42);
  }
  .stripes-container{
    grid-column: span 3;
    display: flex;
    justify-content: center;
  }
  .stripes {
    width: 100%;
    height: 25px;
    border-radius: 10px;
    background: repeating-linear-gradient(
      45deg,
      #535B3F,
      #535B3F 8px,
      #C8BFA7 8px,
      #C8BFA7 16px
    );
    background-size: 200% 200%;
    animation: moveStripes 15s linear infinite;
  }
  @keyframes moveStripes {
    from {background-position: 100%;}
    to {background-position: 0%;}
  }

  .grid-item1 {
    position: relative;
    grid-row: span 1;
  }
  .console {
    width: 100%;
    height: 450px;
    background-color: #A4AC86;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: border 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .console:hover {
    border: 1px solid #f6f1f1;
  }
  .console-black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 350px;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    background-color: #333D29;
  }
  .headshot-container {
    display: flex; 
    width: 95%;
    height: 95%;
  }
  .headshot-img {
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.3s;
  }
  #bottom-console-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100px;
  }
  #description-container {
    width: 80%;
    height: 90%;
    background-color: #2b3224;
    border-radius: 10px;
    background: linear-gradient(
    to bottom,
    #2b3224,
    #2b3224 50%,
    #252c1f 50%,
    #181c14
    );
    background-size: 100% 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(189, 189, 189);
  }
  #console-text {
    color: white;
    width: 90%;
    text-align: center;
  }
  .buttons {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 20%;
  }
  #prevButton {
    width: 70%;
    height: 40%;
    z-index: 2;
    border: none;
    background-color: #977D5B;
    box-shadow: 0 0.5em 0 #7b664a;
    transition: box-shadow 0.2s, transform 0.2s;
    cursor: pointer;
  }
  #prevButton:hover {
    box-shadow: none;
    transform: translateY(0.5em);
  }
  #nextButton {
    width: 70%;
    height: 40%;
    z-index: 2;
    border: none;
    background-color: #656D4A;
    box-shadow: 0 0.5em 0 rgb(64, 71, 52);
    transition: box-shadow 0.2s, transform 0.2s;
    cursor: pointer;
  }
  #nextButton:hover {
    box-shadow: none;
    transform: translateY(0.5em);
  }
  .img-appear {
    animation-name: appear;
    transition: opacity 0.4s ease-in;
  }
  

  .grid-item2 {
    position: relative;
    grid-column: span 2;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .portfolio {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #B6AD90;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
  }
  .portfolio:hover {
    border: 1px solid rgb(255, 255, 255);
  }
  .pf-info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap: 10px;
  }
  .pf-button-div {
    display: flex;
    gap: 5%;
  }
  .pf-button {
    width: 40px;
    height: 30px;
    box-shadow: 0 0.3em 0 rgb(152, 167, 154);
    color: #1d1d1b;
    background-color: #dcdcd0;
    border: none;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  .pf-button:hover {
    box-shadow: none;
    cursor: pointer;
    transform: translateY(0.3em);
  }
  .portfolio-bg {
    width: 90%;
    height: 80%;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    animation: shift 0.2s linear infinite both;
  }
  @keyframes shift {
    from {background-position: -100% 100%;}
    to {background-position: 100% -100%;}
  }
  .pf-images {
    height: 100%;
    transition: opacity 0.2s;
  }
  #portfolio-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 35px;
    color: white;
    background-color: #977D5B;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: border 0.3s;
    text-decoration: none;
  }
  .portfolio-text:hover {
    border: 1px solid white;
    cursor: pointer;
  }
  .grid-div-2 {
    width: 100%;
    height: 100%;
    background-color: #C2C5AA;
    border: 1px solid transparent;
    transition: border 0.2s, border-radius 0.22s;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .garage-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #A4AC86;
    box-shadow: 0 0.4em 0 rgb(97, 99, 87);
    transition: box-shadow 0.2s, transform 0.2s;
    cursor: pointer;
  }
  .garage-button:hover {
    box-shadow: none;
    transform: translateY(0.3em);
  }
  .lock-img {
    width: 60%;
    height: 60%;
  }
  .garage-animation {
    animation-name: garage, disappear;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
  }
  @keyframes garage {
    0% {height: 100%;}
    25% {height: 20%;}
    30% {height: 0%;}
    35% {height: 2%;}
    45% {height: 20%;}
    60% {height: 0%;}
    70% {height: 7%;}
    80% {height: 0%;}
    100% {height: 0%;}
  }
  @keyframes disappear {
    0% {visibility: visible;}
    100% {visibility: hidden;}
  }
  .grid-div-2:hover {
    border: 1px solid #eae6e6;
  }

  .grid-item3 {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    height: 150px;
    align-items: center;
    border: 1px solid transparent;
  }
  .flex-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #AE9C7A;
    transition: border 0.2s, background-color 0.2s;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  .flex-button1 {
    position: relative;
    bottom: 4px;
    width: 80%;
    height: 70%;
    box-shadow: 0 0.3em 0 #88826C;
    border: none;
    border-radius: 10px;
    background-color: #C8BFA7;
    color: #3f4440;
    font-size: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  .flex-button1:hover{
    box-shadow: none;
    transform: translateY(5.5px);
  }
  .flex-div1:hover {
    border: 1.5px solid #eae6e6;
    background-color: #afaf96;
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #slideDown {
    height: 40%;
    width: 30%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #656D4A;
    border-radius: 10px;
    z-index: 4;
    max-height: 0px;
    transition: max-height 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #slideDown.show {
    max-height: 100vh;
  }
  #contact-me {
    text-align: center;
  }
  .email-message {
    color: rgb(217, 217, 217);
  }
  .message {
    font-size: larger;
    color: rgb(101, 109, 95);
  }
  .flex-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .flex-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transform: translateY(-2px);
    border-radius: 50%;
    border: none;
    background-color: #C2C5AA;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  .flex-button2:hover{
    box-shadow: none;
    transform: translateY(2.7px);
  }
  #exitContact {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5%;
    right: 3%;
    background-color: #B3B998;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
  }
  #exitContact:hover {
    border: 1px solid rgb(85, 99, 82);
  }

  .flex-div2 {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A68A64;
    border-radius: 10px;
    transition: border 0.2s, background-color 0.2s;
    border: 1px solid transparent;
  }
  .flex-div2:hover {
    border: 1px solid #eae6e6;
  }
  .flex-div2 h1 {
    color: white; 
    font-size: 20px;
    margin-top: 5px;
  }
  #skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .fit-logo-image {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }
  .fit-skill-image {
    height: 40px;
    margin-bottom: 5px;
    background-color: #414833;
    border-radius: 10px;
    padding: 4px;
  }
  .grid-item4 {
    position: relative;
    grid-row: span 2;
    width: 100%;
    height: 150px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border 0.5s;
    background-color: #AE9C7A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
  #project-text {
    color: #383838;
  }
  .grid-item4:hover {
    border: 1px solid #fcfcf8;
  }
  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .appear {
    display: block;
    animation-name: appear;
    animation-duration: 0.5s;
  }
  @keyframes appear {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
  }
  input[type="range"] {
    width: 80%;
    -webkit-appearance: none;
    background: #656D4A;
    height: 3em;
    border-radius: 50px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
  } 
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #A68A64;
    box-shadow: 0em 0.2em 0 rgb(87, 91, 77);
    transform: translate(0em, -0.1em);
    cursor: pointer;
    transition: all 0.1s;
  }
  input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: none;
    transform: translate(0em, 0em);
  }
  input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #C2C5AA;
    cursor: pointer;
  }

  #footer-container{
    grid-column: span 3;
  }
  .pacman {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f2d648;
    position: relative;
  }
  .pacman-mouth-right {
    background: #656D4A;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    animation: eat-right 0.7s infinite linear;
  }
  .pacman-mouth-left {
    background: #656D4A;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 75%, 50% 48%, 0% 21%);
    animation: eat-left 0.7s infinite linear;
  }
  @keyframes eat-right {
    0% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
    50% {
      clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
    }
    100% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
  }
  @keyframes eat-left {
    0% {
      clip-path: polygon(0% 75%, 50% 48%, 0% 21%);
    }
    50% {
      clip-path: polygon(0% 50%, 44% 48%, 0% 50%);
    }
    100% {
      clip-path: polygon(0% 75%, 50% 48%, 0% 21%);
    }
  }
  .footer {
    width: 100%;
    height: 20px;
    background-color: #414833;
    border-radius: 10px;
  }
  .projects-container {
    z-index: 2;
    width: 100vw;
    height: 0vh;
    transition: all 0.1s;
    background: hsl(120, 11%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #projects-grid {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px;
  }
  .project {
    border: 1px solid white;
    width: 100%;
    background-color: white;
  }
  .project:hover {
    cursor: pointer;
  }
  .project p {
    color: rgb(31, 31, 31);
    padding: 1px;
    font-size: 15px;
  }
  .project h1 {
    color: rgb(27, 26, 26);
    font-size: 20px;
    padding: 1px;
  }
  #exitGallery {
    position: relative;
    background-color: transparent;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  #exitGallery:hover {
    cursor: pointer;
  }
  .project-pics {
    width: 100%;
    height: 70%;
  }

  .grid-item5 {
    grid-row: span 2;
    width: 100%;
    height: 150px;
    background-color: #B3B998;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: border 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  .grid-item5:hover {
    border: 1px solid white;
  }
  .wheel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f2d648;
    position: relative;
  }
  #pie {
    background: #B3B998;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 75%, 45% 50%, 100% 25%);
  }
  .crank-button {
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 150%;
    text-align: center;
    background-color: #d9dcbf;
    color: rgb(9, 12, 7);
    box-shadow: 0 0.1em 0 #9b9e89;
    cursor: pointer;
    transition: all 0.2s;
  }
  .crank-button:hover {
    box-shadow: none;
    transform: translateY(0.1em);
  }